.container{
  height: 100vh;
  width: 100vw;
  display: grid;
  overflow: hidden;
  background-image: url('../public/bg/bg12.jpg');
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
}

/* tot meniul de sus, title si navbar */
.entireMenu{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.brandTitle{
  display: none;
}

/* title- Cristian Elena */
.title h1{
  color: whitesmoke;
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0 10px;
  margin-right: 13px;
  margin-top: 41px;
}

.menuListInactive{
  list-style: none;
  height: fit-content;
  width: fit-content;
  margin-right: 11px;
  margin-top: -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
}

.menuListInactive li a{
  color: whitesmoke;
  padding: 3px 9px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  filter: blur(1px);
  letter-spacing: 2px;
  font-size: 1.3rem;
}

/* ul */
.menuListActive{
  list-style: none;
  height: fit-content;
  width: fit-content;
  margin-right: 11px;
  margin-top: -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuListActive li a{
  color: whitesmoke;
  padding: 3px 9px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  filter: blur(1px);
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.menuListActive li a:hover{
  filter: blur(0px);
  opacity: 1;
  margin: 0 10px;
}

.bottom_div {
  background: #124559;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: 2rem;
  position: absolute;
  bottom: 1%;
  left: 1%;
}

.shop{
   color: whitesmoke;
   width: fit-content;
   font-size: 1.1rem;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-family: 'Poppins';
 }

.shop:first-child{
  padding-right: 1.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.shop .linkIcon{
   color: #00b140;
   width: 2rem;
   height: 100%;
   padding-right: 10px;
 }


.toggleButton{
  position: absolute;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}


.toggleButton div{
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 10px;
  transition: 500ms ease-in-out;
}


@media (max-width: 700px){
  .title{
    display: none;
  }

  .entireMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
  }

  .brandTitle{
    display: flex;
    height: fit-content;
    height: fit-content;
    width: 100%;
  }

  .brandTitle h4{
    color: whitesmoke;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    height: fit-content;
    /* background: violet; */
    margin: auto auto;
    letter-spacing: 0.3rem;
  }

  /* nav bar burger in jos*/
  .menuListActive{
    position: absolute;
    top: 4.1rem;
    right: -70%;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #252525aa;
    align-items: flex-end;
    border-left: 1px solid #f5f5f588;
    border-radius: 50px 0 0 50px;
    transition: all 350ms ease-in-out;
  }

  .menuListInactive{
    /* display: none; */
    position: absolute;
    top: 4.1rem;
    right: -10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #252525aa;
    align-items: flex-end;
    border-left: 1px solid #f5f5f588;
    border-radius: 50px 0 0 50px;
    transition: all 350ms ease-in-out;
  }

  .menuListActive li,
  .menuListInactive li{
    margin-bottom: 1rem;
  }

  .menuListActive li a:hover,
  .menuListInactive li a:hover,
  .menuListActive li a:focus,
  .menuListInactive li a:focus{
    transform: translate(0px, 0);
    filter: blur(0px);
    margin: 0 10px;
  }
}






























