.navbar{
    background: #252525;
    width: 100vw;
    height: 2.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 2;
}

.navbar a{
    text-decoration: none;
    color: #ffffff80;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1.1rem;
    transition: all .35s ease-in-out;
}

.navbar a:hover{
    color: whitesmoke;
}


.navbar h4:last-child a{
    color: lightskyblue;
}

.imagesContainer{
    display: flex;
    /* z-index: -2; */
    /* background: red; */
}

/* Left list images */
.inside{
    margin-left: 0;
    margin-top: 3rem;
    width: 20vw;
    height: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 30px;
    /* background: hotpink; */
}

/* Every small image in the left list */
.separateImage{
    cursor: pointer;
    margin: 5px auto;
    transition: .35s ease-in-out;
    background: #252525;
}

.separateImage:hover{
    background: whitesmoke;
    margin-bottom: 5px;
    transform: translateX(10px);
}


.bigImage{
    position: sticky;
    top: 3rem;
    width: 100%;
    height: 100%;
    /* background: green; */
}

@media (max-width: 700px){
    .navbar{
        background: #25252588;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        position: fixed;
        z-index: 2;
        flex-wrap: wrap;
    }

    .navbar a{
        text-decoration: none;
        color: #ffffff80;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        text-transform: lowercase;
        font-size: 1rem;
        transition: all .35s ease-in-out;
        /* background: red; */
        margin-right: 10px;
    }

    .navbar a:hover{
        color: whitesmoke;
    }


    /* .navbar h4:last-child a{
        color: lightskyblue;
    } */

    .imagesContainer{
        display: block;
        /* z-index: -2; */
        background: none;
    }

    /* Left list images */
    .inside{
        /* margin-left: 0; */
        margin-top: 7rem;
        width: 100%;
        height: 100%;
        max-width: none;
        display: inline-block;
        /* flex-direction: row; */
        padding: 10px;
        /* margin-bottom: 30px; */
        background: none;
    }

    /* Every small image in the left list */
    .separateImage{
        cursor: unset;
        margin: 5px auto;
        transition: .35s ease-in-out;
        background: none;
    }

    .separateImage:hover{
        background: none;
        margin-bottom: 0;
        transform: translateX(0px);
    }


    .bigImage{
        display: none;
        /* position: sticky; */
        /* top: 3rem; */
        width: 100%;
        height: 100%;
        background: green;
    }
}


