.navbar{
    background: #252525;
    width: 100vw;
    height: 2.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 2;
}

.navbar a{
    text-decoration: none;
    color: #ffffff80;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1.1rem;
    transition: all .35s ease-in-out;
}

.navbar a:hover{
    color: whitesmoke;
}


.navbar h4:first-child a{
    color: lightskyblue;
}

.imagesContainer{
    display: flex;
    z-index: -2;
}

.inside{
    margin-left: 10px;
    margin-top: 3rem;
    width: 20vw;
    height: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 30px;
}

.separateImage{
    cursor: pointer;
    margin: 5px;
    transition: .35s ease-in-out;
    background: #252525;
}
.separateImage:hover{
    background: whitesmoke;
    margin-bottom: 5px;
    transform: translateX(15px);
}

.bigImage{
    position: fixed;
    top: 3rem;
    right: 20px;
    left: 220px;
}

/* .changeColor{
    color: red;
    background: blue;
} */



