.navbar{
    background: #252525;
    width: 100vw;
    height: 2.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 2;
}

.navbar a{
    text-decoration: none;
    color: #ffffff80;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1.1rem;
    transition: all .35s ease-in-out;
}

.navbar a:hover{
    color: whitesmoke;
}


.navbar h4:first-child a{
    color: lightskyblue;
}

.imagesContainer{
    display: flex;
    z-index: -2;
}

.inside{
    margin-left: 10px;
    margin-top: 3rem;
    width: 20vw;
    max-height: 90vh;
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.separateImage{
    margin-bottom: 0.10rem;
    cursor: pointer;
}

.bigImage{
    position: fixed;
    top: 3rem;
    right: 20px;
    left: 22vw;
}

