/* .container{
    background: #252525;
    width: 100vw;
    height: 2.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background: red;
} */

.navbar{
    background: #252525;
    width: 100vw;
    height: 2.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 2;
}

.navbar h4{
    color: whitesmoke;
    font-family: 'Poppins';
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar h4:first-child{
    color: lightskyblue;
}

.imagesContainer{
    display: flex;
    z-index: -2;
}

.inside{
    margin-left: 10px;
    margin-top: 3rem;
    width: 20vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    background: red;
    /* overflow-y: scroll ; */
}



.bigImage{
    position: fixed;
    top: 3rem;
    right: 20px;
    left: 22vw;
}

.separateImage{
    margin-bottom: 0.10rem;
    cursor: pointer;
}